---
import SideNavigation from "../../../components/admin/SideNavigation.astro";
import AdminLayout from "../../../layouts/AdminLayout.astro";
---

<AdminLayout>
  <SideNavigation />
  <div class="pl-72 pt-4">Dashboard</div>
</AdminLayout>
